* {
    margin: 0;
    padding: 0;
}
.global {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.header-container {
    text-align: center;
    background-color: lightgray;
    color: navy;
    grid-column: 1 / span 12;
    padding-top: 10px;
}
header {
    margin: 10px;
}
nav li:hover {
    background-color: navy;
    color: white;
}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
nav li {
    width: 100%;
    padding: 20px;
}
.main {
    margin: 20px;
    text-align: center;
    grid-column: 4 / span 6;
}
.main form {
    margin: 10px;
}
.main li{
    background-color: navy;
    color: white;
    width: 70%;
    border-radius: 10px;
    margin: 10px auto;
    list-style: none;
    padding: 20px;
    box-shadow: 0 0 10px inset white;
}
.main li:hover{
    background-color: lightgray;
    color: navy;
    box-shadow: 0 0 10px inset black;
}
button, input {
    padding: 10px;
}